# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Build artifacts
dist/

# Dependencies
node_modules/

# OS
.DS_Store

